<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let user of usuarios">
    <div class="card h-100 ">
      <img [src]="user.avatar" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
        <p class="card-text">Card rellenado con ngFor con el ID = {{user.id}}.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{user.email}}</small>
      </div>
    </div>
  </div>


</div>
